/Library/
/Logs/
/Temp/
/obj/Debug/
/UserSettings
*.csproj
*.sln
*.apk
*.DotSettings
*.vsconfig
/.vs/*
/.vsCode
/Packages/com.unity.asset-store-tools/
/Assets/FastScriptReload/Plugins/ImmersiveVrToolsCommon_Debug~/